@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/*
Table of contents:
    1. Global Styles
    2. Typography
    3. Utility
    4. Areas
    5. Components
        5.1 Button
        5.2 Input
*/

/*
    1. Global Styles
 */

body {
    background-color: 	hsl(280, 13%, 87%);
    font-family: "Poppins", sans-serif, "Arial Rounded MT Bold", sans-serif, "Times New Roman", sans-serif;
    font-weight: 300;
    color: 	hsl(223, 10%, 36%);
}

/*
    2. Typography
 */

h1, h2, h3 {
    font-family: "Poppins", sans-serif, "Arial Rounded MT Bold", sans-serif, "Times New Roman", sans-serif;
    color: hsl(281, 26%, 48%);
}

h1 {
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

/*
    3. Utility
 */

.list-style {
    list-style: square;
}

/*
    4. Areas
 */
#introduction {
    font-weight: bold;
}


/* 5. Components
5.1 Button
5.2 Input
 */

.button {
    font-family: "Poppins", sans-serif, "Arial Rounded MT Bold", sans-serif, "Times New Roman", sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: 	hsl(0, 0%, 100%);
    background-color: hsl(281, 26%, 48%);;
}